$gray-50: rgb(196, 196, 196);
$gray-100: rgb(179, 179, 179);
$gray-200: rgb(168, 168, 168);
$gray-300: rgb(153, 153, 153);
$gray-400: rgb(144, 144, 144);
$gray-500: rgb(121, 121, 121);
$gray-600: rgb(93, 93, 93);
$gray-700: rgb(80, 80, 80);
$gray-800: rgb(54, 54, 54);
$gray-900: rgb(34, 34, 34);

$black-1: #232323;
$primary: rgb(217, 254, 82);

/* Dark Theme Colors */
$neutral-900: rgb(60, 59, 64);

/* Light Theme Colors */
$neutral-500: rgb(244, 244, 244);
