.grid {
  margin: 0 auto;
  display: grid;
  border: 1px solid black;
  background-color: #fff;

  .cell {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
  }
  .balloon {
    cursor: pointer;
  }
  .balloon::after {
    content: '🎈';
    font-size: 35px;
  }
  .pop::after {
    content: '💥';
    font-size: 35px;
  }
}

.game-notification {
  color: #fff;
  text-align: center;
}
