* {
  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
      format('woff');
    font-weight: 400;
    font-style: normal;
  }
  font-family: 'Pretendard-Regular', sans-serif;
}

:root {
  --neutral-900: rgb(60, 59, 64);
  --primary: rgb(217, 254, 82);
}
body {
  margin: 0;
}
#root {
  min-height: 100vh;
  padding: 10px 10px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
}
